<div id='page_wrapper'>
  <div class='col-md-9 col-md-offset-3'>
    <%= form_tag sessions_path do %>
      <div class='field'>
        <%= label_tag :email %>
        <br>
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>
      <div class='field'>
        <%= label_tag :password %>
        <br>
        <%= password_field_tag :password, class: 'form-control' %>
      </div>
      <p>
        <div class='actions'>
          <%= submit_tag 'Log In', class: 'btn btn-primary' %>
        </div>
        <br>
        <p>Log in via social networks:</p>
        <tr>
          <td>
            <%= link_to 'auth/vkontakte' do %>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-circle-o fa-stack-2x'></i>
                <i class='fa fa-vk fa-stack-1x'></i>
              </span>
            <% end %>
          </td>
          <td>
            <%= link_to 'auth/facebook' do %>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-circle-o fa-stack-2x'></i>
                <i class='fa fa-facebook fa-stack-1x'></i>
              </span>
            <% end %>
          </td>
        </tr>
        <p>
          You are not registred? <%= link_to 'Sign Up!', signup_path %>
        </p>
    <% end %>
  </div>
</div>
