<div class='row margin-comment'>
  <% if comment.body %>
    <div class='col-xs-1'>
      <%= image_tag comment.user.avatar.url(:small), class: 'img-circle user_image_small' unless comment.user.blank? %> 
    </div>
    <div class='col-xs-8'>
      <strong> <%= comment.user.email %></strong>
      <p><text><%= comment.body %></text></p>
      <p class='comment_time'><%= time_ago_in_words(comment.created_at) %> Ago</p>
    </div>
    <div class='col-xs-3'>
      <% if current_user %>
        <% if current_user.id == comment.user_id %>
          <%= link_to 'Destroy', [comment.post, comment],
                   method: :delete,
                   data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% else %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
