<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :body %>
    <br>
    <%= f.text_area :body, class: 'form-control article-textarea' %>
  </p>
  <br>
  <p>
    <button class='button'>
      <%= f.submit class: 'btn btn-success'%>
    </button>
  </p>
<% end %>
