<div id='page_wrapper'>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div id='error_messages'>
        <div class='alert alert-danger' role='alert'>
          <button type='button' class='close' data-dismiss='alert'>x</button>
          <h2>
            <i class = 'glyphicon glyphicon-warning-sign'></i>
            Form is invalid
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <p>
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :lastname %>
      <br>
      <%= f.text_field :lastname, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :password %>
      <br>
      <%= f.password_field :password, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <br>
      <%= f.password_field :password_confirmation, class: 'form-control'%>
    </p>
    <p>
      <%= f.label :avatar %>
      <br>
      <%= f.file_field :avatar %>
    </p>
    <p>
      <%= f.submit class: 'btn btn-success' %>
    </p>
  <% end %>
</div>
