<div id='footer'>
  <div class='col-md-6 col-md-offset-4 col-xs-12'>
    <div class='well-lg'>
      <a href='http://vk.com/crashgtafan' target='_blank'>
        <i class='fa fa-vk fa-2x'></i>
      </a>
      <a href='https://www.facebook.com/profile.php?id=100010589944972' target='_blank'>
        <i class='fa fa-facebook-square fa-2x'></i>
      </a>
      <a href='https://www.instagram.com/danilgtafan51/' target='_blank'>
        <i class='fa fa-instagram fa-2x'></i>
      </a>
      <a href='https://bitbucket.org/DanilUdalov/' target='_blank'>
        <i class='fa fa-bitbucket fa-2x'></i>
      </a>
      <a href='https://github.com/CrashGtaFan' target='_blank'>
        <i class='fa fa-github-alt fa-2x'></i>
      </a>
    </div>
  </div>
</div>
