<nav class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='
#bs-example-navbar-collapse-2'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-2'>
      <ul class='nav navbar-nav'>
        <% if current_page?(root_path) %>
          <li>
            <a>All Posts</a>
          </li>
        <% elsif current_page?(about_path) %>
          <li>
            <a>About</a>
          </li>
        <% elsif current_page?(users_path) %>
          <li>
            <a>Users</a>
          </li>
        <% elsif current_page?(signup_path) %>
          <li>
            <a>Registation user</a>
          </li>
        <% elsif current_page?(login_path) %>
          <li>
            <a>Log in</a>
          </li>
        <% else %>
          <li>
            <%= link_to 'Back to All Posts', root_path %>
          </li>
        <% end %>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <% if current_user %>
          <li>  
          <%= current_user.email%>
          <%= image_tag current_user.avatar.url(:small), class: 'img-circle' %>
          <% if current_user.try(:admin?) %>
            <b>Admin</b>
          <% else %>
            <b>User</b> 
          </li>
          <% end %> 
          <li> <%= link_to 'New post', new_post_path %></li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-
expanded='false'> <span class='glyphicon glyphicon-bell text-default'></span></a>
            <ul class='dropdown-menu' role='menu'>
              <li>
                <%= link_to 'My profile', current_user %>
              </li>
              <li class='divider'></li>
              <li>
                <%= link_to 'Log Out', logout_path  %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign Up', signup_path %>
          </li>
          <li>
            <%= link_to 'Log In', login_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
