<div id='sidebar'>
  <div id='logo'>
    <%= link_to root_path do %>
      <%= image_tag src='/assets/logo.png', class: 'img-circle' %>
    <% end %>
  </div>
  <ul>
    <li class='category'>
      My blog
    </li>
    <li>
      <%= link_to 'Blog', root_path %>
    </li>
    <% if current_admin %>
      <li>
        <%= link_to 'Admin', admin_root_path %>
      </li>
    <% end %>
    <li>
      <%= link_to 'About', about_path %>
    </li>
  </ul>
</div>
