<div id = 'page_wrapper'>
  <div class = 'row'>
    <div id = 'content'>
      <div class = 'media'>
        <div class = 'col-md-6 col-xs-12'>
          <div class = 'media-left media-middle'>
            <div id = 'profile_image'>
              <%= image_tag '/assets/profile.jpg' %>
            </div>
          </div>
        </div>
        <div class = 'col-md-6 col-xs-12'>
          <div class='media-body'>
            <h2>Hello</h2>
            <p>My name is Danil. This is a my blog</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>