<table class='table table-hover'>
  <thead>
  	<tr>
  	  <th>Post</th>
  	  <th></th>
  	</tr>
  </thead>
  <tbody>
  	<% @posts.each do |post| %>
      <tr id = <%= "post_#{post.id}" %>>
        <td><%= link_to post.title, post %></td>
        <td>
          <h4>
          	<%= link_to 'Delete', admin_post_path(post), class: 'label label-danger', method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
          </h4>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
