<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="errors">
      <div class="alert alert-dismissible alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <h1>
        <i class = "glyphicon glyphicon-warning-sign"></i>
        <%= pluralize(@post.errors.count, "error") %> prevented this post from saving
      </h1>
        <ol>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control'  %>
  </p>
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :category_ids %><br>
    <p><%= f.collection_check_boxes :category_ids, Category.all, :id, :name %></p>
  </p>
  <p>
    <%= f.submit class: 'btn btn-success'  %>
  </p>
<% end %>
