<center>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</center>
<div id="page_wrapper">
  <% @posts.each do |post| %>
    <div class="col-md-4 col-xs-6">
      <div class="thumbnail">
        <center>
          <p class="image">
            <%= image_tag post.image.url(:medium), class: 'img-rounded blog_index_img' %>
          </p>
        </center>
        <div class="caption">
          <h4><%= link_to post.title, post %></h4>
          <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
          <p><b>Category:</b>
          <% post.categories.each do |category| %>
            <%= category.name %>
          <% end %></p>
          <p>
          <% if current_user %>
            <%= link_to favourite_post_path(post), id: "post_#{post.id}", class: favourite_post(post), remote: true do %>
              <span>Like <i class = "glyphicon glyphicon-heart"></i></span>
            <% end %>
          <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
