<div id='post_content'>
  <div class='well well_post'>
    <h1 class = 'title'>
      <%= @post.title%>
    </h1>
    <p>
      <%= image_tag @post.user.avatar.url(:small), class: 'img-circle' %> 
      <%= @post.user.email %>.
    </p>
    <p class = 'date'>
      <i>Submitted <%= time_ago_in_words(@post.created_at) %> Ago</i>
      <% if require_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: 'label label-warning' %> |
        <%= link_to 'Delete', post_path(@post), class: 'label label-danger', method: :delete, data:   {confirm: 'Are you sure?'} %>
      <% end %>
    </p>
    <p><b>Category:</b>
    <% @post.categories.each do |category| %>
      <%= category.name %>
    <% end %></p>
    <p class="body">
      <%= @post.body %>
    </p>
    <p>
      <%= image_tag @post.image.url(:medium), class: "img-rounded" %>
    </p>
  
    <p>
      <h3>Views: <%= @post.page_views %></h3>
    </p>
    <p>
      <p>
        Like <i class = "glyphicon glyphicon-heart"></i>
        <%= @post.favourite_posts.count %>
      </p>
    </p>
  </div>
  <div id="comments">
    <h3><%= @post.comments.count %> Comments</h3>
    <%= render @post.comments %>
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
  </div>
</div>
