/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'normalize';
@import "bootstrap-sprockets";
/*@import "bootstrap";*/
@import "articles";
@import 'bootstrap/glyphicons';
@import 'font-awesome.min';


body{
  background-image: image-url('brick_texture110.jpg');
  background-attachment: fixed;
}
.blog_index_img{
  width: 100%;
}
.well_post{
	border-radius: 26px;
	background-color: #F6D588;
    border: 1px solid #963939;
}
.article-textarea{
  height: 100px;
}
.thumbnail {
    display: block;
    padding: 3px;
    margin-bottom: 19px;
    line-height: 1.4;
    background-color: #ffffff;
    border: 7px solid #dddddd;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.myclass1 {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.fa-vk {
		color: #273640;
		&:hover {
			color: #2B587A;}
}
/*.fa-circle-o {
		color: #273640;
		&:hover {
			color: #2B587A;}
}*/
.fa-facebook-square{
		color: #273640;
		&:hover {
			color: #103480;}	
}
.fa-instagram{
		color: #273640;
		&:hover {
			color: #B57816;}	
}

.fa-bitbucket{
		color: #273640;
		&:hover {
			color: #205081;}	
}

.fa-github-alt{
		color: #273640;
		&:hover {
			color: black;}	
}

.navbar{
	color: #FFFFFF;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 30px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #A0A0A0;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

html, body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

#profile_image{
	border-radius: 50%;
}

#sidebar {
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #266B40;
	padding: 7em 0 0 0;
	border-right: 1px solid #d6dce0;
	#logo {
    	   width: 2px;
    	   position: absolute;
    	   right: 6em;
    	   top: 3em;
	}
	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 0.7em;
			text-transform: uppercase;
			color: #F5FEFF;
		}
		li {
			padding: .5em 0;
			a {
				color: #9eafba;
				text-decoration: none;
				transition: all .4s ease;
				&:hover {
					color: #A5FF00;				}
			}
		}
		.active {
			a {
				color: #33acb7;
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #9eafba;
	}
}

.button {
	outline: none;
	color: white;
	background: transparent;
	border: #d6dce0;
	padding: 3px 12px;
	&:hover {
		color: white;
		a {
			color: white !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#main_content {
	margin-left: 200px;
	#footer {
		a {
				color: #9eafba;
				text-decoration: none;
				letter-spacing: 5px;
				transition: all .4s ease;
				&:hover {
					color: #A5FF00;}
		}
		.buttons {
			float: right;
			margin-top: -12px;
			.button {
				font-size: .8em;
				margin-left: .4em;
			}
		}
	}
	.post_wrapper {
		padding: 3em;
		border-bottom: 1px solid #d6dce0;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7;
				}
			}
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 40%;
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		border: 1px solid #d6dce0;
		color: white;
		padding: .5em 1.5em;
		font-size: 1.1em;
		margin-left: .5em;
		&:hover {
			border: 1px solid #33acb7;
			color: #33acb7;
		}
	}
}