<table class='table table-hover'>
  <thead>
  	<tr>
  	  <th>Email</th>
  	  <th>Avatar</th>
  	  <th></th>
  	</tr>
  </thead>
  <tbody>
  	<% @users.each do |user| %>
      <tr id = <%= "user_#{user.id}" %>>
        <td><%= link_to user.email, user %></td>
        <td><%= image_tag user.avatar.url(:small), class: 'img-circle' %></td>
        <td>
          <h4>
          <% if user.admin %>
            <%= link_to 'make user', change_permission_user_path(user), class: 'label label-primary'%>
          <% else %>
            <%= link_to 'make admin', change_permission_user_path(user), class: 'label label-warning' %>
          <% end %>
            <%= link_to 'Delete', admin_user_path(user), class: 'label label-danger', method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></h4>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
